@model ETicaretF.Models.MailModel
@{
    ViewBag.Title = "Send";
}



<script>
    $(document).ready(function () {
        if ('@ViewBag.Message' == 'Sent') {
            alert('Mail has been sent successfully');
        }
    });
</script>

@using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()

    <section class="ftco-section contact-section">
        <div class="container mt-5">
            <div class="row block-9">
                <div class="col-md-4 contact-info ftco-animate">
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <h2 class="h4">Contact Information</h2>
                        </div>
                        <div class="col-md-12 mb-3">
                            <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
                        </div>
                        <div class="col-md-12 mb-3">
                            <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                        </div>
                        <div class="col-md-12 mb-3">
                            <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                        </div>
                        <div class="col-md-12 mb-3">
                            <p><span>Website:</span> <a href="#">yoursite.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6 ftco-animate">
                    <form action="#" class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @*<input type="text" name="" class="form-control" placeholder="Adınız"> to*@
                                    @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control",placeholder = "Adınız" } })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @*<input type="text" name="email" class="form-control" placeholder="E-posta"> subject*@
                                    @Html.EditorFor(model => model.From, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group">
                            <input type="text" id="" class="form-control" placeholder="">
                        </div>*@
                        <div class="form-group">
                            @*<textarea name="comment" id="comment" cols="30" rows="7" class="form-control" placeholder="Bir Yorum Bırak..."></textarea>*@
                            @Html.TextAreaFor(model => model.Body, new { @class = "form-control" ,placeholder = "Bir Yorum Bırak..."})
                        </div>
                        <div class="form-group">
                            @Html.Label("", htmlAttributes: new { @class = "control-label col-md-2" })
                           
                                <input type="file" name="fileUploader" value="" />
                            
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="Gonder" class="btn btn-primary py-3 px-5">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <div id="map"></div>
}

